

html, body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    font-size: 62.5%;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.h100 {
    height:100%;
}

.placeholder40 {
    height: 40px;
}

.layer {
    width:100%;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.max50 {
    max-height: 50px;
}

#main {
    font-size: 2.3em;
    width:100%;
    height:100%;
    overflow: hidden;
}

.column {
    display: flex;
    flex-direction: column;
}
.tool-row {
    position: relative;
    z-index: 100;
    background-color: white;
    display: flex;
    height: 40px;
    padding: 0 25px;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.center {
    justify-content: center;
}

.row {
    display: flex;
}
.row-center {
    align-items:center !important;
}
.row-top {
    align-items:flex-start !important;
}

.header {
    margin-top: 20px;
    height: 28px;
    display: flex;
    align-items: center;
    background-color: #1B42CB;
}
.header > div {
    font-size: 0.9em;
    text-align: center;
    color:white;
}

#menu-cont {
    position: relative;
    z-index: 100;
    width: 100px;
    padding: 20px 5px;
    background-color: white;
    border-right: 1px solid #f2f2f2;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

#menu {
    justify-content: center;
}

#menu > div {
    padding: 8px 14px;
    margin: 4px 0;
    font-size: 0.8em;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    color: #1B42CB;
    font-weight: 700;
    background-color: #f2f2f2;
}

#menu > div.active {
    color: white;
    background-color:#1B42CB;
    border: 1px solid #1B42CB;
}

input[type="button"] {
    border:1px solid rgba(0,0,0, 0.4);
    padding:5px 16px;
    margin: 0 4px;
    border-radius: 4px;
    background-color: #f0f0f0;
}

input[type="button"]:not(.disabled):hover {
    background-color: #e0e0e0;
}

input[type="text"], input[type="date"], .tpassword {
    box-sizing: border-box;
    width:100%;
    border:none;
    padding: 6px 10px;
    font-size: 0.9em;
    outline: none;
    background-color: white;
    border-radius: 4px;
    box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.3);
}

input[type="text"]:focus, .tpassword:focus {
    background-color: #fffeee;
}


textarea {
    font-family: "Open Sans";
    box-sizing: border-box;
    width:100%;
    border:none;
    padding: 9px 10px;
    font-size: 1.1em;
    outline: none;
    min-height: 80px;
    box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.3);
    border-radius: 4px;
}

textarea:focus {
    background-color: #fffeee;
}

select {
    margin: 0 8px;
    padding: 5px 3px;
    border:1px solid #ccc;
}

.title {
    padding: 5px 15px;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 15px;
    color:#333;

}

.listado {
    border: 1px solid #f2f2f2;
    padding: 2px;
}

.listado > div {
    min-width: 150px;
    padding: 11px 15px;
    border-bottom: 1px solid #f2f2f2;
    cursor:default;
    margin-bottom: 1px;
    background-color: white;
}

.listado .placeholder {
    height: 20px;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px 0 rgba(0,0,0, 0.4) inset;
}

.listado:not(.ui-sortable-active) > div:not(.active):not(.disabled):hover {
    background-color: #f4f4f4;
    cursor:pointer;
}

.listado.ui-sortable-active > div {
    cursor:move;
}

.listado > div.active {
    color:white;
    background-color: #1B42CB;
}

.listado > div.disabled {
    color: #999;
}

.listado > div:last-child {
    border-bottom: none;
}

.flex1 {
    flex-grow: 1;
    position: relative;
    box-sizing: border-box;
}

.pos-rel {
    position: relative;
}


.sorting {
    background-color: white !important;
    box-shadow: 0 0 10px 0 rgba(0,0,0, 0.4);
}

.handle {
    cursor: move !important;
}
.dragicon {
    margin-bottom: -4px;
    margin-right: 2px;
    display: inline-block;
    width:20px;
    height: 20px;
    background: url(../assets/drag.png) no-repeat;
    background-size: contain;
    opacity: 0.4;
}

.timeicon {
    filter: invert(100%);
}

.fl-table {
    position: relative;
    margin-bottom: 40px;
    box-shadow: 0px 25px 30px rgba( 0, 0, 0, 0.2 );
    font-size: 0.9em;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    white-space: normal;
    background-color: white;
    box-sizing: border-box;
}


.fl-table td {
    text-align: center;
    padding: 8px 10px;
    cursor:default;
    box-sizing: border-box;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

.fl-table tr:nth-child(odd) {
    background: #FFFFFF;
}

.fl-table tr.active {
    background-color: rgb(194, 223, 244)
}


.left-panel {
    position: relative;
    box-sizing: border-box;
    width: 55%;
    background-color: #e3e4ea;
}

.left-panel .layer {
    padding: 0 30px;
}

.right-panel {
    width: 45%;
}


.pos-title {
	font-size: 1.8em;
	text-align: center;
	border-bottom: 1px solid #ddd;
	padding: 5px;
    margin-bottom: 10px;
}

.page-button {
	border: 1px solid #ddd;
	padding: 6px 10px;
	border-radius: 4px;
	margin: 4px;
	/* flex-grow: 1; */
	min-width: 120px;
	/* background-color: #; */
}
.page-button:hover {
    background-color: #bbb;
}
.message {
    position: absolute;
    width:100%;
    height: 30px;
    line-height: 30px;
    color: white;
    text-align: center;
    left:0;
    top: 0;
    pointer-events: none;
    opacity: 0;
}

.message.error {
    background-color: rgb(252, 34, 34); 
}
.message.success {
    background-color: rgb(6, 187, 6);
}

.main-form {
    padding: 30px 30px;
    box-sizing: border-box;
}

.form-title {
    padding: 5px 0;
    font-size: 1.2em;
    margin-top:10px; 
    color:cornflowerblue
}
.form-row {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-bottom: 6px;
    margin-bottom: 10px;
    border-bottom:1px solid #f2f2f2;
}

.form-row .label {
    font-weight: 600;
    color: rgb(106, 137, 163);
    width: 160px;
    padding: 0 10px;
    text-align: right;
}

.fecha {
    font-size: 0.8em;
    color: #999;
    font-style: italic;
}

.bn-tabs {
	height:100%;
	box-sizing:border-box;
}

.bn-tabs .tab-menu {
	height: 41px;
	background-color: white;
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
    font-weight: bold;
    display: flex;
}


.bn-tabs .tab-menu > div {
	padding: 4px 20px;
	height: 25px;
	/* font-size: 0.85em; */
	line-height: 25px;
	margin: 0px 8px;
	color: #666;
	cursor: default;
	border-radius: 20px;
}

.bn-tabs .tab-menu > div.tab-active {
	color: white;
	background-color: #1b42cb;
}

.bn-tabs .tab-menu > div:not(.tab-active):hover {
	cursor:pointer;
}

.bn-tabs .tab-container {
	height:100%;
	box-sizing:border-box;
}

.bn-tabs .tab-container .tab-info {
    box-sizing: border-box;
	display: none;
	height:100%;
}

.bn-tabs #indicador {
	background: #1B42CB;
	width:100px;
    z-index:1;
    top: 3px;
	position:absolute;
	height:28px;
    display:none;
    border-radius:9px 9px 0 0;
}

.form-input {
    box-sizing: border-box;
    width: 100%;
}

.modal2 {
    position: absolute;
    width:400px;
    height: 100%;
    background-color: white;
    top:0;
    right:0;
    z-index: 200;
    overflow-x: visible;
    overflow-y: scroll;
    transform: translateX(400px);
    box-shadow: 2px 0 10px 0px rgba(0,0,0,0.3);
}
.modal3 {
    position: absolute;
    width:25%;
    height: 100px;
    top:0;
    right:0;
    z-index: 199;

}
.rowi {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.columni {
    flex: 1;
    padding: 0 4px;
}

.columni img {
    width:100%;
    margin-top: 8px;
    vertical-align: middle;
}

.columni img:hover {
    box-shadow: 0 0 5px 0px rgb(22, 131, 255);
}

body.dragging, body.dragging * {
    cursor: move !important;
}
  
.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}
  
.list-reset li.placeholder {
    position: relative;
    /** More li styles **/
}

.list-reset li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
}

.list-reset {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-reset li {
    cursor:default;
    padding: 5px 10px;
    margin: 5px 10px;
    border: 1px solid #ccc;
    text-align: center;

}

.blue-background-class {
    background-color: #C8EBFB;
}

.fecha2 {
    font-size: 0.8em; 
}

.status-visible, .status-vencido, .status-programado {
    display: inline-block;
    font-size: 0.8em;
    padding: 3px 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: 2px;
}
.status-visible {
    background-color: #52ba00;
}

.status-vencido {
    background-color: #e21531;
}

.status-programado {
    background-color: #152ae2;
}

.header-img {
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
}

.file-upload-wrapper {
    margin-top: 9px;
    margin-bottom: 9px;
    position: relative;
    width: 100%;
    height: 30px;
}

.file-upload-wrapper:after {
    content: attr(data-text);
    font-size: 0.8em;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 3px 15px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 20;
    color: #666;
    border-radius: 5px 10px 10px 5px;
    font-weight: 300;
}

.file-upload-wrapper:before {
    content: 'ELEGIR';
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 31px;
    background: #0649c5;
    color: #fff;
    font-weight: 700;
    z-index: 25;
    font-size: 0.8em;
    line-height: 31px;
    padding: 0 15px;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
}

.file-upload-wrapper:hover:before {
    background:#0c5bee;
}

.file-upload-wrapper input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 25px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
}



  
  
.button{
    background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    background-image: linear-gradient(top, #f4f1ee, #fff);
    border-radius: 50%;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, .3), inset 0px 2px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
    float:left;
    height: 30px;
    margin: 0 30px 30px 0;
    position: relative;
    width: 30px;			
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.button:after{
    color:#3b3b3b;
    content: "";
    display: block;
    font-size: 15px;
    height: 15px;
    text-decoration: none;
    text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
    position: absolute;
    width: 15px;
}


.heart:after{
    content: "❤";
    left: 21px;
    top: 16px;
}

.flower:after{
    content: "✿";
    left: 23px;
    top: 14px;
}

.tick:after{
    content: "✔";
    left:23px;
    top:16px;
}

.cross:after{
    content: "✖";
    left: 9px;
    top: 5px;
}

.button:hover{
    background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
    background-image: linear-gradient(top, #fff, #f4f1ee);
    color:#0088cc;
}

.heart:hover:after{
    color:#f94e66;
    text-shadow:0px 0px 6px #f94e66;
}

.flower:hover:after{
    color:#f99e4e;
    text-shadow:0px 0px 6px #f99e4e;
}

.tick:hover:after{
    color:#83d244;
    text-shadow:0px 0px 6px #83d244;
}

.cross:hover:after{
    color:#0649c5;

}



.button:active{
    background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
    background-image: linear-gradient(top, #efedec, #f7f4f4);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.button:active:after{
    color:#dbd2d2;
    text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}


.simple-tags {
	box-sizing: border-box;
	width: 100%;
	padding: 6px;
	box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.3);
	border-radius: 4px;
	background-color: #f2f2f2;
}

.simple-tags > ul {
	list-style: none;
	padding: 0;
	margin: 5px;
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	min-height: 40px;
	max-height: 120px;
	overflow-y: auto;
}
.simple-tags ul li {
    margin: 3px 4px;
    padding: 2px 7px 5px 7px;
    color: #fff;
    background-color: #3f3f3f;
    border-radius: 5px;
    font-size: 0.85em;
}

.simple-tags ul li a {
    margin: 0 2px;
    text-decoration: none;
    color: inherit;
    font-size: 1.3em;
    cursor: pointer;
}

.simple-tags input {
	padding: 4px 5px;
	box-sizing: border-box;
	width: 100%;
	border: none;
	outline: none;
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	margin-top: 5px;
	display: block;
	border: 1px solid #ccc;
	border-radius: 4px;
}



.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 25px;
}
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0px;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .2s;
	transition: .2s;
}
  
.slider::before {
	position: absolute;
	content: "";
	height: 23px;
	width: 23px;
	left: 2px;
	bottom: 1px;
	background-color: white;
	-webkit-transition: .2s;
	transition: .2s;
}
  
  input:checked + .slider {
    background-color: #1b42cb;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #1b42cb;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }











  
.products-list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}


.product-item {
	background-color: white;
	display: inline-block;
	box-sizing: border-box;
	padding: 1px;
	padding-bottom: 120px;
	margin: 10px 7px 10px 7px;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.15);
	min-width: 180px;
	color: #333;
	border-radius: 4px;
	overflow: hidden;
}

.product-item:hover {
    /*box-shadow: 1px 1px 8px 0 rgba(0,0,0,0.5);*/
    cursor: pointer; 
}

.product-item .item {
    width: 100%;
    position: relative;
}

.product-item .item:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.product-item .image {
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 0;
	pointer-events: none;
	border-bottom: 1px solid #ddd;
	border-radius: 3px;
}

.product-item .info {
	position: absolute;
	width: 100%;
	top: 100%;
	padding: 10px 15px;
	box-sizing: border-box;
	text-align: center;
	background: linear-gradient(180deg, rgb(245, 245, 245) 0%, rgb(255, 255, 255) 100%);
	margin-top: 2px;
}

.product-item .titulo {
	display: block;
	text-align: left;
	height: 48px;
	margin-bottom: 12px;
	text-transform: capitalize;
	white-space: normal;
	font-size: 1.1em;
	max-height: 48px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.product-item img {
    width: 100%;
}
  