<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>Farmacia Torres | Mis Pedidos</title>
	<link href="css/styles.css" rel="stylesheet">
	<link href="css/plugins.css" rel="stylesheet">
	<link href="css/user.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
	<link rel="shortcut icon" href="https://imperacore.net/torres/assets/icon_logo.png" />

</head>
<body>

<div id="modals-cont"></div>
<div id="header-cont"></div>
		
<div id="content" style="background-color: transparent;">

	<div class="row bg-blanco" style="max-width: 800px;">

		<div id="user-menu-cont">
			<div id="bg-user-profile">
				<div id="user-profile"></div>
			</div>
			<div class="h4 tx-center">Carlos</div>
			<br>
			<ul id="menu-ul">
				<li><a href="perfil.html"><i class="fas fa-user-circle"></i> Mi cuenta</a></li>
				<li><a href="pedidos.html"><i class="fas fa-file-invoice-dollar"></i> Mis Pedidos</a></li>
				<li><a href="puntos.html"><i class="fas fa-star-of-life"></i> Mis Puntos</a></li>
				<li><a href="direcciones.html"><i class="fas fa-map-marker-alt"></i> Mis Direcciones</a></li>
			</ul>
			<br>
			<p class="tx-center"><button onclick="pLog('logout')" class="page-button" style="background: #fa1d00; font-size:0.8em"><i class="fas fa-times-circle"></i> CERRAR SESIÓN</button></p>
		</div>

		<div class="form f1" style="border-left: 1px solid #eee; padding-left: 20px; align-self: flex-start;">
			<div class="h4">Mis Direcciones</div>
			<br>
			<div id="address-list" class="vselect-list"></div>
			<div class="tx-center p15">
				<button class="page-button-flat2 button-pink" onclick="editAddress('')"><i class="fa fa-plus-circle"></i> &nbsp; Añadir una dirección</button>
			</div>
		</div>

	</div>

</div>

<div id="footer-cont"></div>

<script src="js/libraries.js"></script>
<script src="js/utils.js"></script>
<script src="js/api.js"></script>
<script src="js/app.js"></script>
<script src="js/cart.js"></script>
<script src="js/products.js"></script>
<script src="js/direcciones.js"></script>
<script src="js/header.js"></script>
</body></html>