<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>Farmacia Torres | Empresa</title>
	<link href="css/styles.css?v=4.0" rel="stylesheet">
	<link href="css/plugins.css?v=4.0" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
	<link rel="shortcut icon" href="https://imperacore.net/torres/assets/icon_logo.png" />
</head>
<body>

<div id="modals-cont"></div>
<div id="header-cont"></div>
		
<div id="content" style="background-color: transparent;">

	<div class="bg-blanco">
		<h2>¿QUIÉNES SOMOS?</h2>
		<br>
		<img src="https://imperacore.net/assets/ModeloFarmacia.jpg" alt="" style="width: 100%"/>
		<p>Somos una cadena de droguerías líder en el suministro de medicamentos, productos de higiene personal, cuidado del bebé y cosméticos entre otros, que tiene como compromiso principal la salud y el bienestar de nuestros clientes.</p>
		<br>
		<p>Nuestro compromiso es apoyar la economía de nuestros clientes para poder brindarles:</p>
		<ul style="margin: 20px 0 0 10px;">
			<li><p><i class="fas fa-check verde"></i> Precios competitivos</p></li>
			<li><p><i class="fas fa-check verde"></i> Oportuna y amable atención</p></li>
			<li><p><i class="fas fa-check verde"></i> Surtido extenso de productos</p></li>
			<li><p><i class="fas fa-check verde"></i> Prácticas confiables</p></li>
			<li><p><i class="fas fa-check verde"></i> Un gran número de sucursales</p></li>
		</ul>
	</div>


</div>

<div id="footer-cont"></div>

<script src="js/libraries.js?v=4.2"></script>
<script src="js/utils.js?v=4.0"></script>
<script src="js/api.js?v=4.2"></script>
<script src="js/app.js?v=4.2"></script>
<script src="js/cart.js?v=4.0"></script>
<script src="js/products.js?v=4.2"></script>
<script src="js/header.js?v=4.2"></script>

</body></html>