
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&Cabin:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --header-height: 95px;
    --header-height-mobile: 95px;
}

body, html {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
    color:#444;
    background-color: #eee;
    overflow-x: hidden;

}

div, select, input, textarea {
    outline: none;
}

select {
    border: 1px solid #cdcdcd;
    padding: 6px 4px;
    border-radius: 3px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.r-c {justify-content: center;}
.r-t {align-items: flex-start;}
.r-m {align-items: center;}
.r-l {justify-content: flex-start;}
.r-r {justify-content: flex-end;}


.form input {
    width: 100%;
}
.form .tr {
    display: flex;
}
.form .tr > div:not(.sep) {
    flex: 1
}
.form .sep {
    width: 30px;
}

.column {
    display: flex;
    flex-direction: column;
}

#header-cont {
    position: fixed;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
    z-index: 98;
    width: 100%;
    background-color: #0049fa;
}

#header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9em;
}


#logo2 {
    display: none;
}

#logo3 {
    display: none;
}

#back-categories {
    height: 35px;
    background: linear-gradient(180deg, rgb(255 160 71) 0%, #d66700 100%);
}

#categories {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
}

#categories > div {
    color: white;
    margin: 0 10px;
    font-size: 0.85em;
    cursor: default;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    overflow: hidden;
    white-space: nowrap;
    min-width: 70px;
    text-overflow: ellipsis;
    font-weight: 700;
    letter-spacing: 1px;
}

#categories > div:hover {
    background-color: rgba(0,0,0,0.1);
}

#content {
    padding-top: var(--header-height);
    position: relative;
    z-index: 1;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
}

.search-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    border-radius: 25px;
    background: #e6e6e6;
    margin: 0 30px;
}

.txt-search {
    background-color: transparent;
    color: #333;
    font-family: "Roboto";
    border: none;
    height: 30px;
    line-height: 30px;
    padding: 0 7px;
    width: 100%;
}

.txt-search::placeholder {
    color: #666;
    font-weight: 300;
}

.btn-search {
    border: none;
    color: white;
    height: 30px;
    border-radius: 0 21px 21px 0;
    background: #fa7800;
    padding: 0 10px;
    font-size: 1.1em;
    margin-right: -5px;
}

.btn-search:hover {
    background-color: #bd5d03;
}

.horizontal {
    white-space: nowrap;
    overflow-x: auto;
    background-color: green;
}

#marcas-filter {
    max-height: 300px;
    overflow-y: auto;
}


#suscribe-cont {
    border: 1px solid #555;
    margin: 0 2px 0 12px;
    border-radius: 4px;
}

#txt-suscribe {
    flex: 1;
    background-color: transparent;
    color: white;
    font-family: "Roboto";
    border: none;
    height: 27px;
    line-height: 30px;
    min-width: 100px;
    border-radius: 5px;
    margin: 1px;
    padding: 0 8px;
}

#btn-suscribe {
    padding-right: 12px;
    border: none;
    color: white;
    height: 30px;
    background-color: #0C2161;
    border-radius: 0 5px 5px 0;
    font-size: 0.95em;
}

.main-menu-item {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    padding: 8px 20px;
    border-right: 1px solid rgba(255,255,255,0.3);
    color: #fff;
    font-weight: 500;
}

.main-menu-item i {
    margin-right: 6px;
    font-size: 0.85em;
}

.main-menu-item i.fa-chevron-down {
    font-size: 0.8em;
    margin-left: 6px;
    margin-top: 3px;
    color: #fff;
}

.main-menu-item:hover {
    color: #bfbfbf;
    cursor: pointer;
}

#cart-badge {
    color: white;
    background: #fa7800;
    border-radius: 26px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: 400;
}

.cart {
    width: 50px;
    position: relative;
}


#footer-cont {
    background: #fff;
    color: #222;
}

#footer-deco {
    color: white;
    background: #fa7800;
    text-align: center;
    height: 4px;
}


#footer-cont button {
    border: none;
    padding: 7px 20px;
    border-radius: 4px;
    background: linear-gradient(180deg, rgb(255 160 71) 0%, #d66700 100%);
}


#contacto {
    display: flex;
    justify-content: center;
}

#contacto > div {
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    margin: 0 6px;
    font-size: 0.8em;
    padding: 8px;
    margin: 8px;
}

#contacto i {
    width: 20px;
    margin-right: 7px;
    border-right: 1px solid #555;
    text-align: center;
    padding-right: 8px;
}

#links {
    margin: 10px 0;
    display: flex;
    font-size: 0.85em;
    justify-content: center;
}

#links > div {
    margin: 0 30px;
}

#links ul {
    max-width: 190px;
    margin: 0 auto;
}

#links ul li {
    font-family: 'Mulish', sans-serif;
    text-align: left;
    padding: 4px 2px;
    cursor: default;
    margin: 2px 0;
}

#links .title {
    font-size: 1.1em;
    color: #222;
    padding-left: 5px;
}

#links a:hover {
    text-decoration: underline;
}

#links .border {
    padding-bottom: 6px;
    border-bottom: 1px solid #fa7800;
    margin-bottom: 5px;
}

#copyright {
    font-weight: 400;
    color: #222;
    font-size: 0.8em;
    margin-top: 20px;
    padding-top: 11px;
    border-top: 1px solid #d9d9d9;
    padding-bottom: 15px;
    text-align: center;
}

#modal-cont {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 200;
    pointer-events: none;
}



.float-window {
    position: relative;
    border-radius: 4px;
    background-color: white;
    box-shadow: 4px 4px 18px 0 rgba(0,0,0,0.4);
    overflow: hidden;
}

.float-window .float-header {
    height: 38px;
    position: relative;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(225,225,225,1) 100%);
    line-height: 41px;
    padding: 0 10px;
    font-weight: 600;
    color: #333;
    font-family: 'Be Vietnam Pro', sans-serif;
    display: flex;
    align-items: center;
}

.float-window .float-content {
    overflow-y: auto;
    box-sizing: border-box;
    height: calc(100% - 38px);
    position: relative;
}

.float-window .float-footer {
    position: relative;
    height: 60px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
    border-top: 1px solid #eeee;
}

.float-window .close {
    right: 5px;
    width: 29px;
    height: 29px;
    background-color: #ff2c2c;
    background: linear-gradient(180deg, rgb(245 245 245) 0%, rgb(240 240 240) 38%, rgb(211 211 211) 100%);
    text-align: center;
    line-height: 29px;
    color: #222;
    top: 4px;
    border-radius: 17px;
    font-size: 1.2em;
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
}

.float-window .title {
    flex: 1;
    font-size: 0.85em;
    padding-left: 10px;
}

.float-window .close:hover {
    opacity: 0.8;
}

.float-window .tab-info {
    max-height: 390px;
    padding-right: 10px;
    overflow-y: auto;
}

.float-window h3 {
    padding-left: 2px;
    margin-bottom: 5px;
}

#float-cont {
    position:absolute;
    top:0;
    right: 100vw;
    z-index: 101;
    display: flex;
    justify-content: center;
    align-items: center;
}

.combo-title {
    text-align: center;
    margin-top: 45px;
    padding-bottom: 10px;
    font-size: 1.3em;
    color: #1b79cb;
}

#combo-cont > div {
	margin: 10px 0;
	display: flex;
	align-items: center;
	background-color: #ffff;
	border-radius: 5px;
	padding: 10px;
	border: 1px solid #ddd;
	font-size: 0.9em;
	color: #333;
}



#combo-cont img {
    width:80px; 
    margin-right: 15px;
}

.image-list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.image-list > div {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
}

.image-list img {
   width: 100%;
   border-radius: 10px;
   box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.2);
}

.left-panel {
	width: 220px;
	background-color: #f2f2f2;
	background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(239, 239, 241) 100%);
	border-right: 1px solid #ddd;
}

.selectdiv {
    position: relative;
}
  
.selectdiv::after {
    content: '\f078';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #333;
    right: 5px;
    top: 1px;
    height: 17px;
    padding: 6px 0 0 6px;
    border-left: 1px solid #aaa;
    position: absolute;
    pointer-events: none;
    font-size: 0.85em;
}
  
.selectdiv select {
    appearance: none;
    display: block;
    width: 100%;
    height: 24px;
    padding: 0px 25px 0 7px;
    word-break: normal;
    border-radius: 4px;
    background-color: rgba(255,255,255,0.5);
    border: 1px solid #ccc;
}

.selectdiv select option {
	font-size: 0.9em;
}

.no-products {
    font-size: 1.3em;
    color: #999;
    padding: 10px 20px;
    text-align: center;
    font-weight: 400;
    pointer-events: none;
}

.no-products-result {
    color: #777;
    line-height: 1.5em;
    font-size: 1.8em;
    flex: 1;
    text-align: center;
    display: none;
    border: 1px solid#fff;
    border-radius: 9px;
    margin: 37px;
    box-shadow: 2px 2px 20px 0 rgb(0 0 0 / 20%);
    padding: 20px 0;
}

.products-loading .image {
    background: #f2f2f2;
}

.products-list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-row-gap: 30px;
    grid-column-gap: 10px;
}

.product-item {
    background-color: white;
    padding: 15px 25px 15px 25px;
    position: relative;
    text-align: center;
    border: 1px solid #eee;
}

.product-item:hover {
    cursor: pointer;
}

.product-item .promocion {
    padding: 4px 8px;
    border-radius: 4px;
    color: #0068ee;
    border: 1px dashed #ccc;
    margin: 0 auto;
    display: inline-block;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
}

.product-item .exclusivo {
	top: 155px;
	left: 50%;
	width: 140px;
	position: absolute;
	margin-left: -70px;
	height: 21px;
	border-radius: 7px;
	background-color: #fbeb02;
	line-height: 21px;
	text-align: center;
	z-index: 100;
	font-size: 0.7em;
	font-weight: bold;
	color: #222;
}

.product-item .descuento {
    top: 10px;
    left: 10px;
    position: absolute;
    height: 40px;
    background: #ffe0bf;
    background: url(../assets/off.png) no-repeat;
    background-size: contain;
    width: 40px;
}

.product-item .descuento .label {
    line-height: 40px;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 0.8em;
    font-weight: 700;
}

.product-item .wish {
    top: 5px;
    right: -1px;
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 100;
}


.product-item .wish.not {
    display:none
}

.product-item:hover .wish.not {
    display:block
}

.product-item .image {
    display: inline-block;
    overflow: hidden;
    width: 80%;
    font-size: 0;
    pointer-events: none;
    aspect-ratio: 1 / 1;
}
.product-item .info {
    padding: 10px 0;
    text-align: center;
}

.product-item .titulo {
    text-transform: capitalize;
    color: #333;
    display: block;
    height: 33px;
    overflow: auto;
    font-family: 'Be Vietnam Pro', sans-serif;
    border-top: 1px solid #eee;
    padding: 5px 0 0 0;
    font-size: 0.80em;
    font-weight: 600;
}

.product-item .precio {
    font-weight: 700;
    color: #333;
    font-family: 'Inter', sans-serif;
}

.product-item .antes {
    text-decoration: line-through;
    color: #888;
    font-size: 0.75em;
    padding-bottom: 3px;
    font-family: 'Inter', sans-serif;
    display: block;
}

.product-item .antes2 {
    font-size: 0.75em;
    padding-bottom: 3px;
    display: block;
}

.product-item .pcondicion {
    color: #0049fa;
    margin-left: 7px;
    font-weight: bold;
}

.product-item .pcondicion i {
    font-size: 0.9em;
}

.product-item .contenido {
    display: block;
    color: #555;
    font-size: 0.7em;
    padding: 4px 0;
    font-weight: 300;
}

.product-item .cantidad {
    width: 110px;
    margin: 0 auto;
    margin-top: 8px;
    height: 40px;
}

.product-item .cantidad i {
    display: inline-block;
    background: linear-gradient(180deg, #f7f7f7 30%, #d5d5d5 100%);
    border-radius: 16px;
    color: black;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
}

.product-item .cantidad input {
    border: 1px solid #c6c6c6;
    background-color: #f2f2f2;
    font-size: 1.3em;
    width: 26px;
    text-align: center;
    border-radius: 5px;
}

.product-item button {
    margin-top: 18px;
    background: #fa7800;
    color: white;
    border: none;
    border-radius: 21px;
    text-align: center;
    font-size: 11px;
    padding: 0 24px;
    letter-spacing: 1px;
    font-weight: 600;
    height: 30px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.product-item button:hover {
    cursor: pointer;
    opacity:0.8
}

.product-item img {
    width: 100%;
}

.frm-error {
    color: red;
    display: none;
    font-size: 0.8em;
    background-color: #f7dbdb;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid red;
    margin: 10px 0;
    padding: 5px 10px;
}

.frm-label {
    display: block;
    text-align: left;
    padding: 3px 4px;
    margin-top: 8px;
    font-size: 0.85em;
    font-family: 'Be Vietnam Pro';
}

.registerError {
    background-color: rgb(255, 219, 219);
    border: 1px solid rgb(255 175 175);
    border-radius: 5px;
    padding: 8px 0;
    color: red;
    display: none;
    text-align: center;
}

.verde {
    color: green
}

.f1 {
    flex: 1
}

.bg-blanco {
    background-color: white;
    max-width: 900px;
    padding: 30px;
    margin: 20px auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden;
    box-sizing: border-box;
}

.porta-medida {
    width:100%;
    opacity: 0;
}

.menu-float-cont {
    position: absolute;
    padding: 5px 10px 10px 10px;
    top:0; 
    left: 0;
    line-height: 25px;
}

.menu-float {
    color: #333;
    background: white;
    padding: 10px 5px 5px 5px;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0 0 0 / 30%);
    position: relative;
}

.menu-float > div:not(.submenu-float-cont) {
    padding: 3px 8px;
    border-top: 1px solid #ddd;
}

.menu-float > div:not(.submenu-float-cont):hover {
    color: #fa7800 !important;
}

.menu-float > div i.fa-chevron-right {
    font-size: 0.8em;
    padding-left: 10px;
}

.menu-float > div i.fa-chevron-left {
    font-size: 0.8em;
    padding-right: 10px;
}

.submenu-float-cont {
    position: absolute;
    top: 0;
    padding: 10px 10px 10px 10px;
}

.submenu-float {
    background: white;
    padding: 3px 5px;
    border-radius: 5px;
    width: max-content;
}

.submenu-float > div {
    color: #333;
    padding: 3px 8px;
    border-top: 1px solid #ddd;
}

.submenu-float > div:first-child {
    border:none;
}

.submenu-float > div:hover {
    color: #fa7800 !important;
}

.banner_init{
    min-height: 300px;
    width: 100%;
    font-size: 0;
}

#banner-e .slider {
    margin-top: 0 !important;
}

.bono {
    padding: 8px;
    margin: 20px auto;
    border-radius: 4px;
    background: linear-gradient(45deg, rgb(192, 44, 44) 47%, rgb(239, 69, 16) 100%);
    color: white;
    text-align: center;
    position: relative;
    font-weight: 400;
    max-width: 350px;
    font-size: 0.9em;
    box-shadow: 1px 1px 15px 0 rgba(0,0,0,0.3);
}

.bono.inactivo {
    background: #737373  !important;
}

.bono.inactivo button {
    color: #444;
}

.bono .fx {
    border: 2px dashed white;
    padding: 10px;
}

.bono button {
    padding: 8px 15px;
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.2);
	margin: 10px 5px 5px 5px;
	background-color: white;
	color: rgb(192, 44, 44);
	border: none;
    border-radius: 3px;
    font-weight: bold;
    font-size: 0.9em;
}


.circulo-negro {
    color: white;
    border: none;
    border-radius: 30px;
    background: #222;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bono button:hover {
    opacity: 0.8;
    cursor:pointer;
}

.tx-c {
    text-align: center;
}
.tx-r {
    text-align: right;
}

h1, h2 {
    color: #333;
    margin: 0;
    font-size: 1.2em;
}

.full-row {
    justify-content: center;
}

.w100 {
    width:100%;
}


.max-width {
    max-width: 1600px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 75px;
}


#home-cont {
    position: relative;
}



ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.icon {
    width: 30px;
    height: 30px;
    text-align: center;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    border-radius: 3px;
    line-height: 30px;
    font-size: 1.2em;
    position: relative;
}

.icon .badge {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #ff2c6e;
    color: white;
    font-size: 0.8em;
    line-height: 20px;
    top: -9px;
    right: -11px;
}

.social-icon a {
    text-decoration: none;
    font-size: 2em;
    color: white;
    padding: 0 15px;
}

.social-icon a:hover {
    opacity: 0.8
}

.social-icon img {
    width: 42px;
}

.button {
    background-color: #1B42CB;
    color: white;
    font-family: "Roboto";
    padding: 15px 35px;
    border-radius: 27px;
    border: none;
}

.button:hover {
    cursor: pointer;
    background-color: #2352ff;
}

.button-popup {
	border-radius: 4px;
	border: none;
	padding: 9px 8px;
	flex: 1;
	background-color: #1B42CB;
	color: white;
	font-family: 'Roboto';
	max-width: 150px;
	margin-top: 10px;
	margin-bottom: 5px;
	box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.3);
	text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
	font-weight: 500;
}

.button-popup:hover {
    opacity: 0.8;
    cursor:pointer;
}

.button-delete {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 5px 8px;
    margin-left: 8px;
    font-size: 0.9em;
    color: #333;
    font-family: 'Roboto';
}

.button-delete:hover, .button-wish:hover {
    opacity: 0.8;
    cursor:pointer;
}

.button-wish {
	border-radius: 6px;
	border: none;
	padding: 5px;
	margin-left: 8px;
	font-size: 0.9em;
	background-color: #ffd42b;
	color: #fff;
	font-family: 'Roboto';
	text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}


.button2 {

    color: #1B42CB;
    font-family: "Roboto";
    background-color: white;
    padding: 15px 35px;
    border-radius: 27px;
    border: solid 1px #1B42CB;
}

.button2:hover {
    cursor: pointer;
    color: white;
    background-color: #1B42CB;
}

input:focus, select:focus, button:focus {
    outline: none;
}

.order-error {
	margin: 5px 0;
	background-color: #fad8d8;
	color: red;
	text-align: center;
	padding: 6px 10px;
	border: 2px solid #f88;
	border-radius: 10px;
}

.order-info {
	margin: 5px 0;
	background-color: #d8ddfa;
	color: blue;
	text-align: center;
	padding: 6px 10px;
	border: 2px solid rgb(136, 174, 255);
	border-radius: 10px;
}

h4 {
	margin-bottom: 5px;
	font-weight: 500;
	padding-left: 5px;
}

.input {
    padding: 6px 10px;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "Roboto";
    color: #333;
    border: 1px solid #ccc;
    background: #f6f6f6;
}

.input-error {
    border: 1px solid #d66;
}

.input.xl {
    width: 100%;
}

.marcas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(88px, 1fr));
    row-gap: 8px;
}

h3 {
    font-family: 'Mulish', sans-serif;
    margin-bottom: 4px;
    font-weight: 400;
    margin-bottom: 17px;
    font-size: 0.9em;
}

.header-title {
    font-weight: 600;
    color: #222;
    padding-left: 5px;
    font-size: 0.8em;
    padding: 10px;
    font-family: 'Be Vietnam Pro';
}

.line-deco {
    height: 1px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%,  rgb(59 161 255) 30%, rgb(0 73 250) 50%, rgb(59 161 255) 70%, rgba(255,255,255,1) 100%);
    margin-bottom: 13px;
    margin-top: 0px;
}

.hidden {
    display: none;
}

.filtro-label {
	padding: 5px 10px;
	color: #333;
	margin-top: 20px;
	background: #cdd2e1;
	border-radius: 10px;
	margin-bottom: 10px;
}

.relative {
    position: relative;
}

.absolute {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 99;
    transition: all 0.4s linear;
    backdrop-filter: blur(3px);
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}



.card {
    background-color: white;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 0 rgb(0 0 0 / 10%);
    border: 1px solid #ddd;
    overflow: hidden;
}


.card .label {
    font-weight: 400;
    margin-top: 7px;
    color: #666;
}

.card .card-body {
    margin: 15px;
    max-height: 500px;
    overflow-y: auto;
    margin-top: 0;
}

#calificacion .titulo {
    padding: 0 20px 20px 20px;
    font-size: 1.4em;
    font-weight: bold;
    color: #000;
    text-align: center;
}

#calificacion .estrellas {
    padding: 0 13px;
    cursor: default;
}

#calificacion .estrellas i {
    display: inline-block;
    padding: 2px;
    font-size: 1.3em;
    color: orange;
}

#calificacion .pregunta {
    text-align: center;
    font-weight: 400;
    padding-bottom: 5px;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 5px;

}

#calificacion textarea {
	display: block;
	border: solid #ccc 1px;
	padding: 7px;
	margin: 10px 0;
	width: 100%;
	box-sizing: border-box;
	font-family: inherit;
	font-size: 1em;
    color: #444;
    border-radius: 4px;
    outline: none;
}

#cart-cont {
    z-index: 101;
    right: 0;
    top: 0;
    position: fixed;
    background-color: #e3e4ea;
    display: flex;
    height: 100%;
    transform: translateX(400px);
    transition: 0.4s ease;
    border-radius: 15px 0 0 15px;
    overflow: hidden;
}

.precio-cupon {
    color: #fff !important;
    background-color: #ff2c6e;
    border-radius: 22px;
    padding: 4px 8px;
    text-align: center;
    font-size: 1.15em;
    font-weight: 500;
    min-width: 70px;
}

.error-msg {
    color: red;
    border-radius: 3px;
    display: block;
    background: #fff1f1;
    padding: 8px;
    border: 1px solid #ffc3c3;
    margin: 10px;
    font-size: 0.9em;
}

.btn-usar {
    margin-top: 20px;
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #db4c4c;
    color: white;
    background: linear-gradient(180deg, rgba(224,175,96,1) 0%, rgba(250,98,33,1) 75%);
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
}

.grey_img {
    filter: grayscale(80%);
}


#cart {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    background: white;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

#cart-list {
    overflow: hidden;
    overflow-y: auto;
    padding-bottom: 20px;
    box-sizing: border-box;
    background: #f2f2f2;
    flex: 1;
    border-top: 1px solid #ddd;
}

.cart-list {
    font-size: 0.85em;
}

.cart-list > div {
    position: relative;
    display: flex;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    align-items: center;
    background-color: #fff;
}

.cart-list .disponibles {
    background-color: #fa7800;
    color: white;
    padding: 2px 7px;
    border-radius: 10px;
    font-size: 0.75em;
    text-align: center;
}

.cart-list img {
	margin-right: 12px;
	width: 70px;
	min-height: 70px;
	border: none;
	cursor: pointer;
	align-self: flex-start;
}

.cart-list .titulo {
    color: #444;
    text-transform: capitalize;
    padding-bottom: 8px;
    margin-bottom: 8px;
    font-weight: 600;
    font-family: 'Be Vietnam Pro';
}

.cart-list .descuento {
	position: absolute;
	padding: 3px;
	border-radius: 5px;
	color: white;
	background-color: #fa7800;
	font-size: 0.8em;
	top: 6px;
	left: 6px;
}

.cart-list .borrar {
    text-align: right;
    width: 35px;
}

.cart-list .borrar > div {
    display: inline-block;
    line-height: 27px;
    width: 27px;
    text-align: center;
    height: 27px;
    background-color: #f2f2f2;
    border-radius: 3px;
    cursor: pointer;
}

.cart-list .cantidad {
    border-radius: 5px;
    margin: 0 8px;
    min-width: 35px;
}

.cart-list .cantidad  i {
    display: inline-block;
    padding: 6px;
}

.cart-list .cantidad i:hover {
    background-color: #eee;
    color: #fa7800;
    border-radius: 4px;
}

.cart-list .cantidad input {
    width: 30px;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 1.2em;
    background-color: #f2f2f2;
    border-radius: 4px;
    margin: 0 4px;
}

.cart-list .precio {
    min-width: 70px;
    text-align: right;
    font-size: 1.1em;
    font-weight: bold;
    color: #222;
    margin: 0 5px;
} 

.cart-list .info {
	text-align: right;
	padding-top: 10px;
}

.cart-section {
    margin: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-section  > div {
    display: flex;
    justify-content: center;
    align-items: center;
}


.button-prev, .button-next {
    width:28px;
    height: 28px;
    border-radius: 15px;
    background-color:white;
    color: #1B42CB;
    font-weight: bold;
    top:50%;
    margin-top: -34px;
    position: absolute;
    z-index: 100;
    line-height: 28px;
    text-align: center;
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.2);
} 
.button-prev:hover, .button-next:hover {
    cursor: pointer;
    opacity: 0.8;
}
.button-next {
    right: -25px;
}
.button-prev {
    left: -25px
}

.menu-item {
	padding: 9px 13px;
	border-bottom: 1px solid #f2f2f2;
	text-transform: capitalize;
	font-weight: 300;
    animation: 0.4s;
}

.menu-item:hover {
    color: #222;
    background: #f2f2f2;
    font-weight: 500;
}


.swiper {
    padding:5px 0;
}

.swiper .swiper-slide:not(.slide-product) {
    font-size: 0;
}

.swiper .product-item {
    margin: 0 5px
}

.slider img {
	width: 100%;
}

.page-button {
    background-color: #fa7800;
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-family: 'Be Vietnam Pro', sans-serif;
    letter-spacing: 1px;
}

.button-disabled {
    background-color: #c4c4c4 !important;
    color: #666 !important;
}

.page-button-flat {
    flex: 1;
    background-color: transparent;
    border: 1px solid #fa7800;
    font-family: "Roboto";
    color: #fa7800;
    font-weight: 500;
    padding: 12px 10px;
    border-radius: 4px;
    font-size: 0.95em;
}

.page-button-flat3 {
    background-color: transparent;
    border: none;
    color: #2a78e6;
    font-weight: 600;
    padding: 8px 10px;
    font-family: 'Be Vietnam Pro', sans-serif;
    letter-spacing: 1px;
    font-size: 0.7em;
}

.page-button-flat2 {
    background-color: transparent;
    font-family: "Roboto";
    color: #fa7800;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #fa7800;
    font-family: 'Be Vietnam Pro', sans-serif;
    letter-spacing: 1px;
}

.page-button-secundary {
    flex:1;
    background-color: transparent;
    border: 1px solid  #ff2c6e;
    font-family: "Roboto";
    color: #ff2c6e;
    font-weight: 500;
    padding: 8px 10px;
    border-radius: 4px;
}

.page-button:hover, .page-button-flat:hover, .page-button-flat2:hover, .page-button-secundary:hover, .page-button-flat3:hover {
    cursor:pointer;
    opacity: 0.8;
}

.p15 {
    padding: 15px;
}

.tables {
    box-sizing: border-box;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    max-width: 280px;
    margin: 0 auto;
}

.tables td {
    padding: 3px 4px;
    font-weight: 400;
}



.mostrar-mas {
    margin: 40px auto;
    max-width: 200px;
    background-color: #1B42CB;
    font-family: "Roboto";
    color: white;
    text-align: center;
    font-weight: 500;
    padding: 8px 10px;
    border-radius: 15px;
}

.mostrar-mas:hover {
    cursor: pointer;
    opacity: 0.8;
}

.h2 {
    color: #0049fa;
    font-size: 1.76em;
    display: inline-block;
    cursor: default;
    font-weight: 600;
    font-family: 'Mulish', sans-serif;
}

.h4 {
    color: #333;
    font-size: 1.2em;
    font-family: 'Be Vietnam Pro';
    font-weight: 800;
}

.h3 {
    color: #444;
    font-size: 1.2em;
    padding: 15px 2px;
}

.resultados-cont {
    flex: 1;
    padding: 15px;
    box-shadow: -2px 0 10px 0 rgba(0,0,0,0.2);
    position: relative;
    z-index: 10;
    min-height: 800px;
    background-color: white;
}

#filter-cont {
    margin: 7px 0 15px 0;
}

.filter-item {
    background-color: #fffbf4;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #ccc;
    min-width: 80px;
    max-width: 147px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 7px 38px 7px 12px;
    margin: 4px 4px;
    font-size: 0.8em;
    text-transform: capitalize;
    color: #333;
    position: relative;
    float: left;
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.2);
    line-height: 0.9em;
    font-weight: bold;
}

.filter-item > span {
    display: block;
    font-size: 0.95em;
    color: #343333;
    padding-top: 4px;
    font-weight: 300;
    font-style: italic;
    text-transform: lowercase;
}

.filter-item > div {
    background-color: #2e3c4b;
    color: #e4e4e4;
    width: 22px;
    height: 22px;
    border-radius: 12px;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -11px;
}

.filter-item > div:hover {
    background-color: #666;
    color: #fff;
}

.filter-item > div:after {
    content: '\f00d';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    line-height: 23px;
}



.image-zoom {
    overflow: hidden;
    background-color: white;
    min-height: 300px;
}

.info-add {
    padding: 5px 5px;
    line-height: 1.5em;
    font-weight: 300;
    color: #666;
    max-height: 200px;
    overflow: auto;
    font-size: 0.85em;
}

.table-ficha {
    width: 100%;
    background-color: white;
    border: 1px solid #ddd;
    border-collapse: collapse;
    font-size: 0.85em;
    margin-top: 30px;
}

.table-ficha td {
    padding: 7px 10px;
    border-bottom: 1px solid #ddd;
}

.table-ficha .title {
    font-weight: 500;
    text-align: right;
    background: #f6f6f6;
    border-right: 1px solid #ddd;
    color: #222;
    font-size: 0.85em;
}

.link2 {
    font-weight: 500;
    color: #1B42CB;
    padding: 5px 0;
    display: block;
}

.link2:hover {
    text-decoration: underline;
    cursor: pointer;
}

.no-aplica-cupon {
    font-size: 0.9em;
    background: #ffe592;
    padding: 2px;
    text-align: center;
    border-radius: 10px;
    color: #ab1010;
    font-weight: 300;
    margin: 3px 10px 8px 10px;
    border: 1px solid #ffa54b;
}

.error-text, .good-text {
    font-size: 0.8em;
    padding: 10px 10px;
    margin-top: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.error-text > div:first-child, .good-text > div:first-child {
    margin-right: 10px;
}

.error-text {
    color: #dc2121;
    background: #ffe9e9;
    border: 1px solid #ffc9c9;
}

.good-text {
    color: #399c29;
    background: #e9ffea;
    border: 1px solid #acf89a;
}

.cupon {
    margin-bottom: 25px;
    background-color: #fff94c;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.3);
    margin: 20px 15px;
    font-size: 0.9em;
    display: flex;
    overflow: hidden;
    border: 1px solid #ddc35f;
    cursor: pointer;
}

.cupon > div:first-child {
    background: #fa7800;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 6px;
}

.cupon > div:last-child {
    border-left: 7px dotted #fa7800;
    margin-left: -4px;
}

.cupon .cupon-title {
    text-shadow: 1px 1px 2px rgb(0 0 0 / 20%);
    font-size: 1.4em;
    background-color: rgb(255 255 255);
    border-radius: 5px;
    letter-spacing: 2px;
    padding: 10px;
}

.cupon .info {
    margin: 8px;
    padding: 8px;
    border: 2px dashed #d6b41e;
    border-radius: 5px;
}

.cupon .value {
    text-align: center;
    font-size: 2.2em;
    margin-top: 19px;
    margin-bottom: 0;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgb(0 0 0 / 40%);
}

.cupon span {
    display: inline-block;
    background-color: rgba(0,0,0,0.2);
    font-size: 0.85em;
    padding: 3px 5px;
    border-radius: 5px;
}

.cupon span:hover {
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}

.cupon > div {
    line-height: 1.4em;
    font-size: 0.8em;
}


.encuesta {
	padding: 10px 15px;
	background-color: #fff;
	border: 1px solid #ccc;
	margin: 0 0 15px 0;
	display: inline-block;
	border-radius: 4px;
	font-size: 1.2em;
    display: none;
}

.encuesta span {
    display: inline-block;
    padding: 6px 10px;
    background-color: #3252e0;
    margin: 4px 4px 4px 10px;
    border-radius: 5px;
    color: white;
}

.encuesta span:hover {
    cursor: pointer;
    opacity:0.8;
}

.rojo {
    color: #0049fa  !important;
}

.precio-antes {
    background: #ffeeb5;
    color: #333 !important;
    font-size: 0.8em;
    padding: 3px 8px;
    border-radius: 8px;
    display: inline-block;
}


.p-info {
    opacity: 0.8;
    font-weight: 300;
    margin: 10px 0;
    font-size: 0.9em;
    text-align: justify;
}

.boton-i {
    padding: 2px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0 4px;
}
.boton-i:hover {
    background-color: #f4f1e9;
}

.boton-i > i {
	padding: 5px;
	font-size: 1.3em;
}

.header-section {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    align-items: center;
    margin-bottom: 15px;
}

.bt-left, .bt-right {
    text-align: center;
    width: 38px;
    height: 27px;
    background: #fa7800;
    border: 1px solid #fff;
    border-left: none;
    border-radius: 0 15px 15px 0;
    line-height: 27px;
    color: white;
}

.bt-left:hover, .bt-right:hover {
    opacity: 0.8;
    cursor: pointer;
}

.bt-left {
    border-radius: 15px 0 0 15px;
}

.bt-right {
    border-radius: 0 15px 15px 0;
}

.tags {
    display: flex;
    justify-content: center;
    font-size: 0.9em;
    margin-bottom: 15px;
    padding-top: 5px;
    cursor: default;
}

.tags > div {
    color: #0049fa;
    padding: 4px 14px 6px;
    margin: 0 5px;
    border-radius: 25px;
    border: 1px solid #0049fa33;
}

.tags > div.active {
    background: #0049fa;
    color: white;
}

.tags > div:not(.active):hover {
    cursor: pointer;
    opacity: 0.8;
}



.vertodo {
    color: white;
    padding: 5px 12px;
    font-family: 'Roboto';
    background: #fa7800;
    border-radius: 25px;
    width: 100px;
    text-align: center;
}

.vertodo:hover {
    cursor:pointer;
    opacity:0.8;
}

.placeholder {
    background-color: #f2f2f2;
    height: 24px;
    margin: 5px 0;
}

#lbl-total {
    font-size: 1.2em;
    font-weight: bold;
    color: #2e2e2e;
    padding-left: 5px;
}

#lbl-domicilio {
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
    padding-left: 5px;
}

.select-list-label {
    font-size: 0.7em;
    text-align: center;
    font-weight: 500;
}

.select-list > div {
    padding: 5px;
    font-size: 0.8em;
    margin: 6px;
    cursor: default;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    color: #666;
}

.select-list > div b {
    color: #333;
    font-weight: 500;
    padding: 0 6px;
}

.select-list > div .image {
    height: 35px;
    font-size: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
}

.select-list > div i {
    display: none;
    color: #fa9b00;
    padding: 0 10px;
}

.select-list > div:not(.active):hover {
    border: 1px solid #999;
}

.select-list > div.active {
    color: #fa7800;
    border: 1px solid #fa7800;
}

.select-list > div.active i, .select-list > div.active b {
    color: #fa7800;
    display: inline-block;
}

.vselect-list {
    max-height: 200px;
    overflow-y: auto;
}

.vselect-list > div {
    padding: 8px 10px;
    font-size: 0.8em;
    margin: 5px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    cursor: default;
}

.vselect-list > div > div:first-child i {
    padding: 5px;
    font-size: 1.3em;
    color: #fa9b00;
    margin-right: 10px;
    opacity: 0;
    padding-right: 8px;
}

.vselect-list > div:hover {
    border: 1px solid #999;
}

.vselect-list > div.active {
    background-color: white;
    color: #fa7800;
    border: 1px solid #fa7800;
}
.vselect-list > div.active > div:first-child i {
    opacity:1;
}


#order-cont {
    flex: 1; 
    height: 100%; 
    overflow-y: auto;
}

#order {
    max-width: 700px;
    margin: 30px auto;
}

#order > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#order > div > div {
	flex: 1;
	box-sizing: border-box;
	padding: 15px;
	/* border: 1px solid #cdcdcd; */
	margin: 10px;
	border-radius: 4px;
	min-height: 230px;
	box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.2);
	background-color: white;
}

#order .titulo {
    color: #333;
    font-size: 1.2em;
    padding-left: 5px;
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.width0 {
    width: 0;
}

.width300 {
    width: 300px;
}

.progressbar {
    width: 100%;
    display: inline-block;
    background-color: #f2f2f2;
    height: 6px;
    border-radius: 2px;
    position: relative;
}

.progressbar > div {
    position: absolute;
    height: 6px;
    border-radius: 2px;
    background-color: #ffb100;
    top: 0;
    left: 0;
}

.observacion {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 7px;
    width: 90%;
    border-radius: 5px;
}
.separador {
    width:10px
}



.link {
    color: #0049fa !important;
    font-size: 0.85em;
}

.link i {
    font-size: 0.8em;
    padding-right: 3px;
}

.aplica {
    text-align: right;
}
.aplica i {
    color: green;
}

.coupon-icon {
    width: 20px;
    height: 20px;
    top: 8px;
    left: 15px;
    z-index: 100;
    position: absolute;
    font-size: 1.3em;
}

.coupon-good {
    background-color: #d2ffde;
}

.coupon-bad {
    background-color: #ffe6ea;
}

.coupon-bad-lbl {
    color: red;
}

.coupon-good-lbl {
    color: green;
}


.dropdown {
    position: relative;
}

.dropdown-content {
    display:none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    top: 0;
    left: -10px;
    padding: 10px;
}

.dropdown-content .separator {
    height: 10px;
}

.dropdown-content .content {
    background-color: rgba(255,255,255,1);
    border-radius: 4px;
    box-shadow: 1px 1px 20px 0 rgba(0,0,0,0.4);
    padding: 0 10px 20px 10px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid rgba(255,255,255,0.7);
    backdrop-filter: blur(6px);
    /* background: linear-gradient(0deg, rgb(198 198 198 / 85%) 0%, rgb(255 255 255 / 85%) 50%); */
}

.dropdown-content .content .row > div {
    padding: 0 10px;
    min-width: 150px;
}

.dropdown-content a {
    color: #444;
    font-size: 0.9em;
    padding: 4px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: 400;
    cursor: default;
    border-radius: 12px;
}

.dropdown-content a:hover {
    color: #222;
    background-color: #f2f2f2;
    font-weight: 500;
}

.dropdown-content .title {
    color: #444;
    font-size: 1em;
    font-weight: 700;
    margin-top: 8px;
}


.tooltip_elemento {
    position: relative;
}

.tooltip {
    opacity: 0;
    position: absolute;
    padding: 7px 20px;
    background: #ddd;
    color: #444;
    font-size: 0.9em;
    text-align: center;
    pointer-events: none;
    border-radius: 6px;
    border: 2px solid #eee;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.3);
    z-index: 100;
}

.tooltip::after {
    content: '';
    z-index: 99;
    position: absolute;
    top: 50%;
    margin-top:-5px;
    right:-7px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #fff;
    clear: both;
}


.accordion3 > .title {
    position: relative;
    display: block;
    padding: 5px 33px 5px 10px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
    color: #333;
    border-bottom: 1px solid #eee;
    font-size: 0.9em;
}


.accordion3 > .title:hover {
    font-weight: 500;
}

.accordion3 > .title.open {
    border: none;
    background-color: #fa7800;
    font-weight: bold;
    padding-left: 20px;
    color: white;
}

.accordion3 > .title.open span {
    display: none;
}

.accordion3 > .title:not(.open) .fa-caret-down {
    display: none;
}

.accordion3 > .title.open .fa-caret-right {
    display: none;
}

.accordion3 > .title span {
    display: block;
    position: absolute;
    width: 25px;
    height: 20px;
    top: 2px;
    right: 4px;
    text-align: center;
    font-weight: bold;
    line-height: 24px;
    border-radius: 20px;
    font-size: 0.85em;
}

.accordion3 > .content {
	overflow: auto;
	background: #fff;
	padding-bottom: 15px;

}
.accordion3 > .content:not(.open) {
    display: none;
}


.accordion2 > .title {
	position: relative;
	display: block;
	padding: 8px 0;
	font-weight: 400;
	color: #444;
	text-decoration: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: default;
	border-bottom: 1px solid #ddd;
	padding-left: 5px;
}


.accordion2 > .title:not(.open):hover {
    cursor:pointer;
    color: rgb(27, 66, 203);
    background-color: rgba(27, 66, 203, 0.05);
    
}

.accordion2 > .title.open {
    margin-top: 6px;
    border-bottom: none;
    color: rgb(27, 66, 203);
    font-weight: 500;
}

.accordion2 > .title:not(.open) .fa-caret-down {
    display: none;
}

.accordion2 > .title.open .fa-caret-right {
    display: none;
}

.accordion2 > .content {
	overflow: auto;
	margin-left: 14px;
	margin-bottom: 15px;
	margin-right: 14px;
	border-radius: 5px;
	border: 1px solid #ddd;
	box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.2);
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 100%);
}

.accordion2 > .content > div > div {
	border-bottom: 1px solid #eee;
}
.accordion2 > .content > div > div.active a {
    color:#1B42CB;
    font-weight: bold;
}

.accordion2 > .content > div > div a {
    padding: 6px 10px;
    display: block;
}
.accordion2 > .content > div > div:last-child {
    border:none;
}

.accordion2 > .content > div > div:hover {
	background-color: rgba(0,0,0,0.05);
	color: #1b42cb;
	cursor: pointer;
}

.accordion2 > .content:not(.open) {
    display: none;
}

.accordion > .title {

    cursor: pointer;
    /* border-bottom: 1px solid #ddd; */
    position: relative;
    padding: 5px 5px 5px 10px;
    border-radius: 4px;
    
}

.accordion > .title span {
    font-size: 0.9em;
    position: absolute;
    top: 0;
    right: 9px;
    width: 25px;
    height: 21px;
    background: #f2f2f2;
    text-align: center;
    border-radius: 4px;
    line-height: 21px;
    margin: 2px 0;
}

.accordion > .title.open {
    color: #1B42CB;
}

.accordion > .title.open span {
    color: #fff;
    background: #1B42CB;
}

.accordion > .title:not(.open):hover {
    background: #f2f2f2;
    color: #1B42CB;
    font-weight: 500;
}


.accordion > .title:not(.open) .fa-check-square {
    display: none;
}

.accordion > .title.open .fa-square {
    display: none;
}

.accordion > .content {
    display: none;
    padding: 7px 7px 7px 15px;
	overflow: auto;
}

.left-menu > div {
    cursor: pointer;
    border-bottom: 1px solid #eee;
    position: relative;
    padding: 6px 42px 6px 15px;
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.8em;
}

.left-menu > div:hover {
    color:#000;
}

.left-menu b {
    position: absolute;
    top: 3px;
    right: 9px;
    width: 25px;
    height: 21px;
    text-align: center;
    border-radius: 10px;
    line-height: 21px;
}


.left-menu > div:not(.active):hover {
    color: #000;
    
}


.left-menu > div.active {
    color: #1B42CB;
    font-weight: 500;
}

.left-menu a {
    display: block;
    padding: 7px 12px;
}

.left-menu > div:not(.active) .fa-check-square {
    display: none;
}

.left-menu > div.active .fa-square {
    display: none;
}



#cats {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: #ffcaaa;
    padding: 18px 0;
}

#cats > div {
    display: flex;
    align-items: center;
    padding: 2px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.2);
    margin: 0 10px;
    background: #fff;
    cursor: default;
}

#cats .image {
    width: 50px;
    height: 50px;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
}

#cats .image img {
    width: 100%;
}

#cats .title {
    font-size: 0.85em;
    padding: 0 9px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
}   

.h100 {
    height: 100%;
}


#menu-adicional {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: white;
    box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.2);
    color: #333;
    border-radius: 5px;
    margin-bottom: 50px;
}

#menu-adicional .menu-button {
    padding: 8px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    background: #0a61d0;
    color: #fff;
    font-weight: 400;
}

#menu-adicional .menu-button:hover {
    cursor:pointer;
    opacity: 0.8;
}

#menu-adicional .title {
    color: #333;
    font-size: 1.2em;
}

#menu-adicional > div {
    text-align: center;
    padding: 15px 20px;
    border-right: 1px solid #eee;
}

#menu-adicional > div p {
    min-height: 30px;
    font-size: 0.9em;
    font-weight: 400;
    color: #666;
    margin-top: 8px;
    margin-bottom: 0;
    height: 50px;
}

#menu-adicional > div:last-child {
    border: none;
}

#menu-adicional > div i {
    display: inline-block;
    margin-bottom: 8px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #666;
    font-size: 1.3em;
    line-height: 30px;
}

.mini-price {
    padding-bottom: 6px;
    font-size: 0.8em;
}

.mensaje {
    color:#444;
    font-family: 'Cabin';
    font-size: 1.3em;
    
}

.big-font {
    display: inline-block;
    font-size: 1.7em;
    margin-bottom: 15px;
}

#crumbs {
    width: 100%;
    margin: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.9em;
    overflow-x: auto;
}

#crumbs > div:not(.separator) {
    padding: 5px 13px;
    border-radius: 25px;
    color: #fa7800;
    border: 1px solid #f5c292;
    white-space: nowrap;
}

#crumbs > div.separator {
    margin: 0 9px;
    color: #fa7800;
    font-size: 0.7em;
}

#crumbs a {
    color: inherit;
    text-decoration: none;
}

.info-top {
    padding: 11px;
    background: #ffdada;
    border-bottom: 1px solid #ff8a8a;
    font-size: 1.1em;
    font-weight: 400;
    color: #222;
    text-align: center;
}

.info-top button {    
    border: 1px solid #ccc;
    padding: 3px 8px;
    border-radius: 5px;
    background-color: #eee;
}

#buttomBar {
    width: 100%;
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 97;
    background-color: #0049fa;
    box-shadow: 0 0 10px 0 rgba(0 0 0 / 30%);
    display: none;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

#buttomBar > div {
    margin: 0 10px;
    text-align: center;
    padding: 10px;
    font-size: 0.7em;
    font-weight: 300;
    font-family: 'Be Vietnam Pro';
}

#buttomBar > div i {
    font-size: 1.3em;
    margin-bottom: 4px;
    display: block;
}

#back-filtros {
    display: flex;
    position: relative;
    height: 100%;
}

#filtros {
    width: 100%;
    padding: 10px 18px 0 15px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 10;
    max-width: 300px;
    transition: 0.4s ease;
    /* border-radius: 0 20px 20px 0; */
    overflow: auto;
}

#filtros h3 {
    color: #333;
    font-weight: 600;
    margin-bottom: 10px;
    padding-left: 6px;
}

#filtro-spacer {
   transition: 0.4s ease;
}

.addFiltro {
    border: 1px dashed #ccc;
    padding: 7px 12px 7px 12px;
    border-radius: 4px;
    color: #666;
    background: #f6f6f6;
    margin: 4px;
    float: left;
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.2);
    height: 42px;
}

.addFiltro:hover {
    cursor:pointer;
    opacity: 0.8;
}

.hidePanel {
    transform: translateX(-100%) !important;
}

.showPanel {
    transform: translateX(0) !important;
}

.collapsible {
    background-color: #00000040;
    color: white;
    cursor: pointer;
    padding: 2px;
    width: 100%;
    padding-top: 5px;
    border: none;
    outline: none;
    font-size: 13px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: left;
    padding-left: 10px;
}

.collap-active, .collapsible:hover {
    background-color: #ff7a7a;
}

.collapsible-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapsible:after {
    content: '+';
    font-size: 15px;
    float: right;
    padding-right: 4px;
}

.collap-:after {
    content: "-";
}

#frm-registro .separador {
    height: 5px;
}

.autocomplete {
    position: relative;
    display: inline-block;
    flex: 1;
    min-width: 300px;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    font-weight: 400;
}

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.parrafo {
    font-weight: 400;
    color: #1c3d6a;
    text-align: justify;
    font-size: 0.95em;
    line-height: 1.3em;
}

::-webkit-scrollbar {
    width: 9px;
}
  
::-webkit-scrollbar-track {
    background: #ddd;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    margin: 0 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0a61d0;

}

.swiper-button-prev {
    left: 0 !important;
    background: #222;
    border-radius: 21px;
    width: 32px !important;
    height: 32px !important;
    color: white !important;
  
}

.swiper-button-next {
    right: 0 !important;
    background: #222;
    border-radius: 21px;
    width: 32px !important;
    height: 32px !important;
    color: white !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 15px !important; 
    font-weight: bold;
}

#range {
    height: 10px;
}

#range .noUi-connect {
    background: #74d130;
}
#range .noUi-touch-area::before, #range .noUi-touch-area::after {
    display:none;
}
#range .noUi-tooltip {
    display: none;
}

#range .noUi-active .noUi-tooltip {
    display: block;
}

#range .noUi-handle {
    height: 28px;
    width: 28px;
    top: -10px;
    right: -14px;
    border-radius: 15px;
}


.redimir-info {
    font-size: 0.9em;
    background: #dfe9f5;
    padding: 5px 10px;
    margin: 0 20px;
    border: 1px solid #d0d9f5;
    border-radius: 10px;
    color: #4a64bc;
}

.products-header {
    padding: 10px 5px;
    font-weight: 400;
    margin-bottom: 10px;
}



.border-cont {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}

.puntos-disp {
    background: #f6f6f6;
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
}

.puntos-plata {
    background: #f78c12;
    padding: 5px 10px;
    color:white;
    margin-left: 23px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.tab-menu {
    position: relative;
    margin-bottom: 17px;
    border-bottom: 2px solid #f2f2f2;
    padding-bottom: 2px;
}

.tab-menu > div:not(.indicador) {
    font-weight: 500;
    padding-right: 20px;
    cursor: default;
    font-family: 'Be Vietnam Pro';
    font-size: 0.95em;
}

.tab-menu > div:not(.indicador):not(.active):hover {
    cursor: pointer;
    color: #fa7800;
}

.tab-menu > div.active {
    color: #fa7800;
}

.tab-menu .indicador {
    height: 2px;
    background-color: #fa7800;
    width: 0;
    position: absolute;
    top: 23px;
    left: 0px;
    transition: 0.4s ease-in-out;
}

.tabs-cont {
    position:relative;
    transition: 1s ease-out;
}
.tabs {
    opacity: 0;
    position: absolute;
    width: 100%;
    top:0;
    left: 0;
}

.tb-regalo {
    border-radius: 10px;
    overflow: hidden;
    margin-left: 30px;
    border-spacing: 0;
    table-layout: fixed;
    background: #fa7800;
    text-align: center;
}

.tb-regalo td:nth-child(1) {
    border-left: 1px solid #fa7800;
}

.tb-regalo td:nth-child(2) {
    border-right: 1px solid #fa7800;
    border-left: 1px solid #fa7800;
    font-weight: 500;
}

.tb-regalo td {
    padding: 7px;
    background-color: white;
}

.col3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.col2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.8s;
}




@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fade-out {
	opacity: 0;
	animation-name: fadeOutOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 0.8s;
}

@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}



@media only screen and (max-width: 1000px) {
    
    .max-width {
        padding: 0 15px;
    }
 
    .header-section {
        font-size: 0.8em;
        grid-template-columns: 1% 1fr 125px;
    }

    .main-menu-item {
        padding: 0 10px;
    }

    #filtros {
        transform: translateX(0);
    }



}

@media only screen and (max-width: 800px) {

    body {
        margin-bottom: 50px;
    }

    .resultados-cont {
        z-index: 0;
    }

    #back-filtros {
        grid-template-columns: 15px 1fr;
    }

    #filtros {
        transform: translateX(-100%);
        background-color: white;
    }

    .width300 {
        width: 0;
    }

    #buttomBar {
        display: flex;
    }
    .autocomplete {
        min-width: 220px
    }

    .search-cont {
        margin: 0 18px;
    }

    #content {
        padding-top: var(--header-height-mobile);
    }

    #back-categories {
        display: none;
    }

    #user-ubicacion, #user-btn, #logo {
        display: none;
    }

    .main-menu-item {
        padding: 15px 5px;
        border-right: none;
    }
    
    #logo3 {
        display: block;
    }

    .products-list {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }

    #links {
        display: block;
    }

    #links ul {
        max-width: initial;
    }

    #contacto {
        display: block;
    }

    #cart-list {
        font-size: 0.8em;
    }

    .bt-left:hover, .bt-right:hover {
        opacity: 1;
        cursor: pointer;
    }

    .showPanel {
        box-shadow: 0 2px 20px 0 rgba(0 0 0 / 30%) !important;
    }

    .bg-blanco {
        margin: 0;
    }

    #crumbs > div:not(.separator) {
        padding: 5px;
        border: none;
    }

    #crumbs {
        margin: 10px 5px;
        font-size: 0.8em;
    }

}